<div class="row ">
    <div class="col m2"></div>
    <div class="col m8 center-align">
    <h3>Administrador</h3>
    <br>
    <br>
    <button class='btn green col m12' routerLink="crear-ciudad">Crear nueva Ciudad o Departamento</button>
    <br>
    <br><br>
    <button class='btn green col m12' routerLink="crear-tipo">Crear nuevo tipo de inmueble</button>
    <br>
    <br><br>
    <button class='btn green col m12' routerLink="crear-asesor">Crear nuevo asesor</button>
</div>
</div>
<br><br><br><br><br><br><br><br><br>