<h1 class="center-align">Contacto</h1>

<div class="row center">
  <div class="z-depth-3 y-depth-3 x-depth-3 grey green-text lighten-4 row"
        style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px; margin-top: 100px; width: 60%;">
  <form [formGroup]="fgValidation" (ngSubmit)="contactEvent()" class="contact-form">
    <div class="row">
      <div class='input-field col s12'>
        <input class="validate" formControlName="name" id="name" type="text"  />
        <label for='name' data-error="wrong" data-success="right">Nombre</label>
        <div class="warning-validation" *ngIf="fg.name.errors && (fg.name.dirty || fg.name.touched)">
            <strong *ngIf="fg.name.errors.required">
                Name is required!<br />
            </strong>
            </div>
        </div>
      </div>
    <div class="row">
     <div class='input-field col s12'>
       <input class="validate" formControlName="email" id="email" type="email"  />
       <label for='email' data-error="wrong" data-success="right">Email</label>
       <div class="warning-validation" *ngIf="fg.email.errors && (fg.email.dirty || fg.email.touched)">
           <strong *ngIf="fg.email.errors.required">
                email is required!<br />
           </strong>
           <strong *ngIf="fg.email.errors.email">
               email must be an email!
            </strong>
      </div>
        </div>
    </div>
<div class="row">
  <div class='input-field col m12'>
    <input class="validate" type='text' formControlName="subject" id='subject' />
    <label for='subject'>Asunto</label>
    <div class="warning-validation" *ngIf="fg.subject.errors && (fg.subject.dirty || fg.subject.touched)">
        <strong *ngIf="fg.subject.errors.required">
            subject is required!<br />
        </strong>
      </div>
    </div>
</div>
<div class="row">
  <div class='input-field col m12'>
    <input class="validate" type='text' formControlName="message" id='message' />
    <label for='message'>Mensaje</label>
    <div class="warning-validation" *ngIf="fg.message.errors && (fg.message.dirty || fg.message.touched)">
        <strong *ngIf="fg.message.errors.required">
            message is required!<br />
        </strong>
      </div>
    </div>
</div>
<div class='row'>
  <div class='input-field col m12'>
  <button class='btn green col s12' type="submit">Enviar</button>
  </div>
</div>
    </form>
  </div>
</div>
    