<section class="hero">
    <div class="hero-inner">
        <h1>Hogar Colombia</h1>
        <h2>Aquí puedes vender, arrendar o permutar.</h2>
        <a routerLink="/user/register" class="btn green" >Registrate</a> &nbsp;&nbsp;
        <a routerLink="/product/home" class="btn green">Ver inmuebles</a>
    </div>
</section>
<div class="center-align">
    <h1>Misión</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint impedit doloremque, corrupti eos optio voluptatibus aliquid reiciendis aperiam esse. A sequi cum sit laboriosam eos quos itaque cumque assumenda ex.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis rem non quam maiores corporis distinctio ut temporibus amet possimus blanditiis veniam in facere, excepturi est quis inventore modi assumenda. Impedit.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet voluptate fuga, quisquam odio incidunt fugiat sed tempore. Ratione quasi similique quaerat doloremque, in voluptates laudantium, alias molestias deleniti soluta architecto.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam labore inventore est quas aperiam ad, fugit nesciunt porro omnis natus quaerat sapiente reiciendis eos expedita voluptas laborum eligendi aut aliquam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptas sunt molestiae dolore, facilis, tempora velit blanditiis corporis quasi veniam cum laboriosam, impedit nam tenetur laudantium voluptatem sit minima et!
    </p>
<img src="https://previews.123rf.com/images/yaistantine/yaistantine1512/yaistantine151200005/49832692-jefe-de-dibujos-animados-la-celebraci%C3%B3n-para-el-cultivo-de-estad%C3%ADsticas-de-las-empresas-con-un-vaso-de-vi.jpg" alt="" width="250px" height="250px">
</div>  
<div class="center-align">
    <h1>Visión</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint impedit doloremque, corrupti eos optio voluptatibus aliquid reiciendis aperiam esse. A sequi cum sit laboriosam eos quos itaque cumque assumenda ex.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis rem non quam maiores corporis distinctio ut temporibus amet possimus blanditiis veniam in facere, excepturi est quis inventore modi assumenda. Impedit.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet voluptate fuga, quisquam odio incidunt fugiat sed tempore. Ratione quasi similique quaerat doloremque, in voluptates laudantium, alias molestias deleniti soluta architecto.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam labore inventore est quas aperiam ad, fugit nesciunt porro omnis natus quaerat sapiente reiciendis eos expedita voluptas laborum eligendi aut aliquam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptas sunt molestiae dolore, facilis, tempora velit blanditiis corporis quasi veniam cum laboriosam, impedit nam tenetur laudantium voluptatem sit minima et!
    </p>
<img src="https://previews.123rf.com/images/jakarin2521/jakarin25211607/jakarin2521160700054/61091178-dibujos-animados-socio-de-negocios-para-iniciar-una-empresa-dise%C3%B1o-de-personajes.jpg" alt="" width="250px" height="250px">
</div>  

