<div class="container">
    <h1>Filtrar:</h1>
    <form [formGroup]="fgValidation"  (ngSubmit)="filterEvent()" class="register-form"> 
      <div class="row z-deepth-1">
        <div class="col s4">
          <h6>Seleccione la categoria:</h6>
        <div class="center-align">
          <select class="input-field col s12" formControlName="VarR">
            
            <option value="1">
              Venta
            </option>
            <option value="2">
              Arriendo
            </option>
          </select>
        </div>
        </div>
        <div class="col s4">
          <h6>Seleccione tipo de vivienda:</h6>
        <div class="center-align">
          <select class="input-field col s12" formControlName="HorA">
            <option *ngFor="let p of tipos" value="{{p.nombre}}">
              {{p.nombre}}
            </option>
          </select>
          </div>
        </div>
        <div class="col s4">
     
        </div>
        <div class="col s5"></div>
        <div class="col s2">
        <button class="btn waves-effect waves-light button1 green" type="submit">Filtrar</button>
        </div>
        <div class="col s5"></div>
      </div>
    </form>
  </div>




<div class="row" *ngIf="mostrar">
    <div class="col m2"></div>
    <div class="col m8">
<table class="responsive-table" >
    <thead>
        <tr>
            <th style="width: 17%">
                Codigo 
            </th>
            <th style="width: 17%">
                Tipo Solicitud 
            </th>
            <th style="width: 17%">
                Tipo inmueble
            </th>
            <th style="width: 17%">
                Direccion
            </th >
            <th style="width: 17%">
                Ciudad
            </th >
            <th style="width: 17%">
                Estado
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of solicitudes">
            <td>
                {{p.id}}
            </td>
            <td *ngIf="p.tipo_solicitud == 2">
                Arrendamiento
            </td>
            <td *ngIf="p.tipo_solicitud == 1">
                Compra
           </td>
            <td>
                {{p.tipo_inmueble}}
            </td>
            <td>
                {{p.direccion}}
            </td>
            <td>
                {{p.Ciudad}}
            </td>
            <td *ngIf="p.estado_solicitud == 1">
                Enviado
            </td>
            <td *ngIf="p.estado_solicitud == 2">
                En Estudio
            </td>
            <td *ngIf="p.estado_solicitud == 3">
                <button class="btn waves-effect waves-light green accent-3" type="button" name="action"
                (click)="openComentarios(p.id)" *ngIf="p.estado_solicitud != 1">Aceptado
                </button>
            </td>
            <td *ngIf="p.estado_solicitud == 4">
                <button class="btn waves-effect waves-light  deep-orange lighten-2" type="button" name="action"
                (click)="openComentarios(p.id)" *ngIf="p.estado_solicitud != 1 ">Rechazado
                </button>
            </td>
            <td>
                <button class="btn waves-effect waves-light blue" type="button" name="action"
                (click)="openConfirmation(p.id)" *ngIf="p.estado_solicitud == 1">Asignar
                </button>
                <button class="btn waves-effect waves-light green" type="button" name="action"
                (click)="openDetalles(p.id)" *ngIf="p.estado_solicitud != 1">Detalles
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div id="modalConfirmation" class="modal">
    <div class="modal-content">
        <h4>¡Espera!</h4>
        <p>¿Quieres asignar otro asesor para esta solicitud?</p>
        <br>
        <h5>Seleccione un asesor:</h5>
        <a class="modal-close waves-effect waves-light btn black" style="margin: 2%;" *ngFor="let x of asesores" 
            (click)="editElement(x.id)">{{x.realm}}</a> 
    </div>
</div>
<div id="modalDetalles" class="modal">
    <div class="modal-content center-align" *ngIf="solicitud != undefined">
        <h4>{{solicitud.tipo_inmueble}}</h4>
        <br>
        <h6>*Direccion: {{solicitud.direccion}}</h6>
        <h6>*Valor: {{solicitud.valor}}</h6>
        <img src="{{solicitud.foto}}" alt="" width="40%" height="40%">
        <br><br>
        <a class="modal-close waves-effect waves-light btn red">Salir</a> &nbsp;
    </div>
</div>
<div id="modalComentarios" class="modal">
    <div class="modal-content center-align" >
        <h4>Comentarios:</h4>
        <br>
        <h6>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h6>
        <br>
        <br>
        <a class="modal-close waves-effect waves-light btn grey darken-1" >Descargar</a>
    <br><br><br><br><br><br>
        <a class="modal-close waves-effect waves-light btn red">Salir</a> &nbsp;
        
    </div>
</div>
</div>
</div>
<div class="row center-align" *ngIf="!mostrar">
    <h4>¡Hey!, Aún no tienes solicitudes agregadas!</h4>
</div>
<br> <br><br><br>