<div class="row">
    <br>
    <div class="col offset-m3 borde-blue s12 m6">
        <h3 class="center">Recuperar Contraseña</h3>
        <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <label for="email">Ingrese su email.</label><br>
            <input [(ngModel)]="email" id="email" type="email" class="validate" >
          
        </div>
        <div class="col m4"></div>
            <div class="col m4">
                <re-captcha (resolved)="resolved($event)" siteKey="6LfaN7AUAAAAAEg4G67MXj6fsZE1psStk7PrSJVy"></re-captcha>
            </div>
            <div class="col m4"></div>
        <div class="col s12 center">
             <br>
            <button (click)="sendPassword()" class="btn waves-effect waves-light green">
                Recuperar Contraseña
            </button>
            <br>
            <br>
        </div>
    </div>
    <br>
</div>