<div class="row center">
    <div class="z-depth-3 y-depth-3 x-depth-3 grey green-text lighten-4 row"
        style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px; margin-top: 100px;">
        <div class="section">
            <strong>Acceder</strong>
        </div>

        <div class="section"><i class="mdi-alert-error red-text"></i></div>

        <form [formGroup]="fgValidation" (ngSubmit)="loginEvent()" class="login-form">
        <div class='row'>
            <div class='input-field col s12'>
                <input class="validate" formControlName="username" id="username" type="email"  placeholder="Email"/>
                <div class="warning-validation" *ngIf="fg.username.errors && (fg.username.dirty || fg.username.touched)">
                    <strong *ngIf="fg.username.errors.required">
                        Username is required!<br />
                    </strong>
                    <strong *ngIf="fg.username.errors.minlength">
                        Username must be at least 3 characters long!<br />
                    </strong>
                    <strong *ngIf="fg.username.errors.maxlength">
                        Username must be up to 50 characters long!<br />
                    </strong>
                    <strong *ngIf="fg.username.errors.email">
                        Username must be an email!
                    </strong>
            </div>
            </div>
        </div>
        <div class='row'>
            <div class='input-field col m12'>
                <input class="validate" type='password' formControlName="password" id='password' placeholder="Password" />
                <div class="warning-validation" *ngIf="fg.password.errors && (fg.password.dirty || fg.password.touched)">
                    <strong *ngIf="fg.password.errors.required">
                        password is required!<br />
                    </strong>
                    <strong *ngIf="fg.password.errors.minlength">
                        password must be at least 3 characters long!<br />
                    </strong>
                    <strong *ngIf="fg.password.errors.maxlength">
                        password must be up to 50 characters long!<br />
                    </strong>
            </div>
            </div>
            <label>         
                <a routerLink="/user/reset"><b>¿Olvido su contraseña?</b></a>
            </label>
            <re-captcha (resolved)="resolved($event)" siteKey="6LfaN7AUAAAAAEg4G67MXj6fsZE1psStk7PrSJVy"></re-captcha>
        </div>
        <br />
        <div class='row'>
            <div class='input-field col m12'>
            <button [disabled]="fg.username.errors || fg.password.errors"
            class='btn green col s12' type="submit">Login</button>
        </div></div>
    </form>
    </div>
</div>
