<h3 class="center-align">Lista de solicitudes segun el cliente</h3>

<div class="container">
    <h1>Filtrar:</h1>
    <form [formGroup]="fgValidation"  (ngSubmit)="filterEvent()" class="register-form"> 
      <div class="row z-deepth-1">
        <div class="col s4">
          <h6>Seleccione el id del cliente:</h6>
        <div class="center-align">
          <select class="input-field col s12" formControlName="HorA" >
            <option *ngFor="let p of clientes" value="{{p.id}}" >
              {{p.id}}
            </option>
          </select>
        </div>
       
        <button class="btn waves-effect waves-light button1 green" type="submit">Filtrar</button>
        </div>
        <div class="col s5"></div>
      </div>
    </form>
  </div>







<div class="row" *ngIf="mostrar">
    <div class="col m2"></div>
    <div class="col m8">
<table class="responsive-table" >
    <thead>
        <tr>
            <th style="width: 17%">
                Id Cliente 
            </th>
            <th style="width: 17%">
                Id solicitud 
            </th>
            <th style="width: 17%">
                Estado 
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listaSol; trackBy: id_cliente">
            <td>
                {{p.id_cliente}}
            </td>
            <td>
                {{p.id}}
            </td>
            <td *ngIf="p.estado_solicitud == 1">
                Enviado
            </td>
            <td *ngIf="p.estado_solicitud == 2">
                En estudio
            </td>
            <td *ngIf="p.estado_solicitud == 3">
                Aceptado
            </td>
            <td *ngIf="p.estado_solicitud == 4">
                Rechazado
            </td>
            
        </tr>
    </tbody>
</table>

<div id="modalConfirmation" class="modal">
    <div class="modal-content">
        <h4>¡Espera!</h4>
        <p>¿Quieres asignar otro asesor para esta solicitud?</p>
        <br>
        <h5>Seleccione un asesor:</h5>
        <a class="modal-close waves-effect waves-light btn black" style="margin: 2%;" *ngFor="let x of asesores" 
            (click)="editElement(x.id)">{{x.realm}}</a> 
    </div>
</div>
<div id="modalDetalles" class="modal">
    <div class="modal-content center-align" *ngIf="solicitud != undefined">
        <h4>{{solicitud.tipo_inmueble}}</h4>
        <br>
        <h6>*Direccion: {{solicitud.direccion}}</h6>
        <h6>*Valor: {{solicitud.valor}}</h6>
        <img src="{{solicitud.foto}}" alt="" width="40%" height="40%">
        <br><br>
        <a class="modal-close waves-effect waves-light btn red">Salir</a> &nbsp;
    </div>
</div>
<div id="modalComentarios" class="modal">
    <div class="modal-content center-align" *ngIf="solicitud != undefined">
        <h4>Comentarios:</h4>
        <br>
        <h6>{{solicitud.comentarios}}</h6>
        <br>
        <br>
        <a class="modal-close waves-effect waves-light btn grey darken-1" >Descargar</a>
    <br><br><br><br><br><br>
        <a class="modal-close waves-effect waves-light btn red">Salir</a> &nbsp;
        
    </div>
</div>
</div>
</div>
<div class="row center-align" *ngIf="!mostrar">
    <h4>¡Hey!, Aún no tienes solicitudes agregadas!</h4>
</div>
<br> <br><br><br>